.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .wrapper {
    display: flex;
    justify-content: center;
    padding: 64px 0 40px;
    width: 100%;

    .logo {
      height: 64px;
      width: 206px;

      img {
        width: 100%;
      }
    }
  }
}
